body {
  background-color: #000000
}

#calculator{
         margin-bottom: 10px;
         text-align:center;
         width: 210px;
         color:white;
         border: solid white 2px;
   
}

.button {
    float: center;
    position: relative;
    display: block;
    background-color: #9c9898;
    margin-bottom: 15px;
}

.equal, .division, .multipication, .subtraction, .percentage {
  color: orange;
}

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .zero, .decimal {
  opacity: .75;
}
